<div class="row">
  <div class="col-md-12">
    <div class="subtitle">
      <div class="container"><h3>Diplomová práca</h3></div>
      <h3>Názov práce</h3>
      <p>Verifikačný nástroj pre UNITY</p>
      <p>Verification tool for UNITY</p>
      <h3>Cieľ práce</h3>
      <p>
        Cieľom práce je vytvoriť verifikačný nástroj podporujúci zápis,
        simuláciu a verifikáciu programov zapísanýchv jazyku UNITY
      </p>
      <h3>Vedúci práce</h3>
      <p>doc. RNDr. Damas Gruska, PhD.</p>
    </div>
  </div>
</div>
